# Números de administradores em formato internacional, sem +, sem espaços.
# Exemplo Brasil: 5567999999999
ADMIN_NUMBERS=556781445060

BOT_PREFIX=/
DB_PATH=./data/dragonverse.sqlite
DEFAULT_UNIVERSE=2
ALLOW_ONLY_DEFAULT_UNIVERSE=true
